{% extends "base.html" %}
{% load static %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <style>

    .form-control{
		height: 40px;
		box-shadow: none;
		color: #969fa4;
	}
	.form-control:focus{
		border-color: #5cb85c;
	}
    .form-control, .btn{        
        border-radius: 3px;
    }
	.signup-form{
		width: 400px;
		margin: 0 auto;
		padding: 30px 0;
	}
	.signup-form h2{
		color: #636363;
        margin: 0 0 15px;
		position: relative;
		text-align: center;
    }
	.signup-form h2:before, .signup-form h2:after{
		content: "";
		height: 2px;
		width: 30%;
		background: #d4d4d4;
		position: absolute;
		top: 50%;
		z-index: 2;
	}	
	.signup-form h2:before{
		left: 0;
	}
	.signup-form h2:after{
		right: 0;
	}
    .signup-form .hint-text{
		color: #999;
		margin-bottom: 30px;
		text-align: center;
	}
    .signup-form form{
		color: #999;
		border-radius: 3px;
    	margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
	.signup-form .form-group{
		margin-bottom: 20px;
	}
	.signup-form input[type="checkbox"]{
		margin-top: 3px;
	}
	.signup-form .btn{    
        margin-top: 30px;
        margin-left: 110px;
        font-size: 16px;
        font-weight: bold;		
		min-width: 140px;
        outline: none !important;
    }
	.signup-form .row div:first-child{
		padding-right: 10px;
	}
	.signup-form .row div:last-child{
		padding-left: 10px;
	}    	
    .signup-form a{
		color: #463a40;
		text-decoration: underline;
	}
    .signup-form a:hover{
		text-decoration: none;
	}
	.signup-form form a{
		color: #5cb85c;
		text-decoration: none;
	}	
	.signup-form form a:hover{
		text-decoration: underline;
	}  
    .password-text{
		color: #999;
		margin-top: 30px;
		text-align: center;
        font-size: small;
	}
  img{
    width: 300px;
    border-radius: 10px;
    justify-self: center;
  }

</style>

<div class="signup-form">
    <form action="{% url 'login' %}" class="" method="POST">
        {% csrf_token %}
		<h2>Log In</h2>
		<p class="hint-text"><img src="{% static 'imgs/dogs_1.jpeg' %}"></p>

        <div class="form-group">
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="required" id="id_username" data-keeper-lock-id="k-p8d224svinb" class="form-control" placeholder="Username">
        	<!-- <input type="name" class="form-control" name="email" placeholder="Username" required="required"> -->
        </div>

		<div class="form-group">
            <input type="password" name="password1" autocomplete="new-password" required="required" id="id_password1" data-keeper-lock-id="k-vpr8v5ttskf" class="form-control" placeholder="Password">
            <!-- <input type="password" class="form-control" name="password" placeholder="Password" required="required"> -->
        </div>
      
		<div class="form-group">
            <button type="submit" class="btn btn-info btn-lg btn-block" value="login">Let's Play!</button>
            <input type="hidden" name="next" value="{{ next }}">
        </div>
    </form>

</div>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  Not yet a user? <a href="{% url 'user_signup' %}">SIGN UP!</a> -->

{% endblock %}
