{% extends "base.html" %} {% load static %} {% block content %}

<style>
  .form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
  }
  .form-control:focus {
    border-color: #5cb85c;
  }
  .form-control,
  .btn {
    border-radius: 3px;
  }
  .login-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
  }
  .login-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
  }
  .login-form h2:before,
  .login-form h2:after {
    content: "";
    height: 2px;
    width: 26%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
  }
  .login-form h2:before {
    left: 0;
  }
  .login-form h2:after {
    right: 1;
  }
  .login-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
  }
  .login-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .login-form .form-group {
    margin-bottom: 20px;
  }
  .login-form input[type="checkbox"] {
    margin-top: 3px;
  }
  .login-form .btn {
    margin-top: 20px;
    margin-left: 110px;
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    border-radius: 10px;
    outline: none !important;
  }
  .login-form .row div:first-child {
    padding-right: 10px;
  }
  .login-form .row div:last-child {
    padding-left: 10px;
  }
  .login-form a {
    color: #463a40;
    text-decoration: underline;
  }
  .login-form a:hover {
    text-decoration: none;
  }
  .login-form form a {
    color: #5cb85c;
    text-decoration: none;
  }
  .login-form form a:hover {
    text-decoration: underline;
  }
  .password-text {
    color: #999;
    margin-top: 30px;
    text-align: center;
    font-size: small;
  }
  img {
    width: 300px;
    margin-top: 10px;
    border-radius: 10px;
    justify-self: center;
  }
  .invalid-text {
    margin-top: 20px;
    text-align: center;
  }
</style>

<div class="login-form">
  <form
    action="{% url 'user_login' %}?next={{ request.path }}"
    class=""
    method="POST"
  >
    {% csrf_token %}

    <h2>Let's Play!</h2>
    <p class="hint-text">
      Enter your username and password.<img
        src="{% static 'imgs/login.jpeg' %}"
      />
    </p>

    <div class="form-group">
      <input
        type="text"
        name="username"
        maxlength="150"
        autocapitalize="none"
        autocomplete="username"
        autofocus=""
        required="required"
        id="id_username"
        class="form-control"
        placeholder="Username"
      />
    </div>

    <div class="form-group">
      <input
        type="password"
        name="password"
        autocomplete="current-password"
        required
        id="id_password"
        class="form-control"
        placeholder="Password"
      />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-info btn-lg btn-block" value="login">
        Log In
      </button>
      <input type="hidden" name="next" value="{{ request.GET.next }}" />
      {% if form.errors %}
      <p class="invalid-text">
        Your username and password did not match. Please try again.
      </p>
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}
