{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />

    <title>Bark Parks ~ A Dog Park Finder</title>
  </head>

  <body>
    <div class="wrapper">

      <aside id="sidebar">
        <div class="h-100">
          <div class="sidebar-logo text-center">
            <a href="{% url 'home' %}">Bark Parks<br>🐾🐶🐾</a>
          </div>



          {% if user.is_authenticated %}

          <ul class="sidebar-nav">
            <li class="sidebar-item">
              <a href="{% url 'parksindex' %}" class="sidebar-link">
                <i class="fa-solid fa-list pe-2"></i>
                All Parks
              </a>
            </li>

            <li class="sidebar-item">
              <a href="{% url 'user_profile' %}" class="sidebar-link">
                <i class="fa-solid fa-list pe-2"></i>
                User Profile
              </a>
            </li>

                <li class="sidebar-item">
                  <a
                    href="{% url 'logout' %}?next={% url 'home' %}"
                    class="sidebar-link"
                    > <i class="fa-solid fa-list pe-2"></i>Log Out</a
                  >
                </li>
              </ul>
            </li>
          </ul>

          {% else %}

          <ul class="sidebar-nav">
            <li class="sidebar-item">
              <a href="{% url 'parksindex' %}" class="sidebar-link">
                <i class="fa-solid fa-list pe-2"></i>
                All Parks
              </a>
            </li>

                <li class="sidebar-item">
                  <a
                    href="{% url 'login' %}?next={{ request.path }}"
                    class="sidebar-link"
                    >
                    <i class="fa-solid fa-list pe-2"></i>
                    Login</a
                  >
                </li>

                <li class="sidebar-item">
                  <a href="{% url 'user_signup' %}" class="sidebar-link"><i class="fa-solid fa-list pe-2"></i>Sign-Up</a>
                </li>
              </ul>
            </li>
          </ul>

          {% endif %}
        </div>
      </aside>

      <div class="main">
        <main class="content px-3 py-2">
          <div class="container-fluid">
            <div class="mb-3">
              <main>{% block content %} {% endblock %}</main>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
