{% extends 'base.html' %} {% load static %} {% block content %}

<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container img {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 45vh;
        width: 100%;
        /* margin-left: 100px; */
    }

</style>


<div class="container">
    
    <img src="{% static 'imgs/dogs_banner.png' %}" />

</div>











{% endblock %}
