{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}

Add a review for {{park.name}}:

<form action="{% url 'postreview' park.id %}" method="POST">
    {% csrf_token %}

    {{ review_form.as_p }}
    <input type="submit" class="btn" value="Add Review">
  </form>

<script>


    const selectEl = document.getElementById('id_rating'); 
    M.FormSelect.init(selectEl);
</script>

{% else %}

<h1>
  &nbsp;&nbsp;<u>{{park.name}}</u>

  &nbsp;&nbsp;<button type="button" class="btn btn-outline-secondary">
    <a href="{% url 'login' %}?next={{ request.path }}"
      >Log in to leave a review!</a
    >
  </button>
</h1>

{% endif %}

{% endblock %}