{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h3>&nbsp;&nbsp;<u>{{park.name}}</u></h3>
&nbsp;&nbsp;Open {{park.hours}}<br>
<a href="{% url 'addreview' park.id %}">Add A Review</a>

<hr>

&nbsp;&nbsp;&nbsp;&nbsp;**ADD MAP HERE FOR ADDRESS: {{park.address}}
<hr>

&nbsp;&nbsp;&nbsp;&nbsp; <h2><u>**REVIEWS START HERE...</u></h2>
<hr>
{% for review in park.reviews_set.all %}
<hr>
Date: {{ review.date}}
Rating: {{ review.rating }}
Review: {{review.review }}
<hr>
{% endfor %}

{% else %}
<h3>&nbsp;&nbsp;<u>{{park.name}}</u></h3>
&nbsp;&nbsp;Open {{park.hours}}<br>
Log in to leave a review!

<hr>

&nbsp;&nbsp;&nbsp;&nbsp;**ADD MAP HERE FOR ADDRESS: {{park.address}}
<hr>

&nbsp;&nbsp;&nbsp;&nbsp; <h2><u>**REVIEWS START HERE...</u></h2>
<hr>
{% for review in park.reviews_set.all %}
<hr>
Date: {{ review.date}}
Rating: {{ review.rating }}
Review: {{review.review }}
<hr>
{% endfor %}

{% endif %}

{% endblock %}