{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  #map {
    height: 400px;
    width: 700px;
    margin: auto;
  }
  a {
    color: rgb(183, 95, 60);
  }
</style>



<!--  *** HTML CODE BELOW ***  -->

<ul>
  {% for park in parks %}

  <li><h4><a href="{% url 'park_details' park.id %}">▻&nbsp;{{ park.name }}</a></h4>
  {{park.address}}</li>
  <p>{% endfor %}</p>
</ul>

<!-- <h5>&nbsp;&nbsp;&nbsp;&nbsp;Don't see your favorite park? <a href="{% url 'addpark' %}">ADD IT HERE</h5></a> -->

{% endblock %}
