{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  #map {
    height: 400px;
    width: 700px;
    margin: auto;
  }
  a {
    color: rgb(183, 95, 60);
  }
  .index-titlebar h1 {
    text-align: center;
    margin-top: 2rem;
  }
  .index-titlebar h5 {
    text-align: center;
    margin-bottom: 1rem;
  }
</style>



<!--  *** HTML CODE BELOW ***  -->
<div class="index-titlebar"><h1><u>Parks Saved By Our Users</u></h1>
<h5>(Sorted A-Z: Click a park name for more details!)</h5></div>
<hr />

<ul>
  {% for park in parks %}

  <li><h4><a href="{% url 'park_details' park.id %}">▻&nbsp;{{ park.name }}</a></h4>
  {{park.address}}</li>
  <p>{% endfor %}</p>
</ul>

{% endblock %}
