{% extends 'base.html' %} {% block content %}

<h3>map testing</h3>


<h3>My Google Maps Demo</h3>



  <style>
    #map {
      height: 400px;
      width: 100%;
    }

  </style>

<body>



  <script>

    let map;
    let marker;
    let geocoder;
    let responseDiv;
    let response;

    function initMap() {
      map = new google.maps.Map(document.getElementById("map"), {
      zoom: 8,
      center: { lat: 33.6, lng: -117.6 },
      mapTypeControl: false,
    });

      geocoder = new google.maps.Geocoder()

      const inputText = document.getElementById("inputText")

      inputText.type = "text"
      inputText.placeholder = "Enter a location"

      const submitButton = document.getElementById("submitButton")

      submitButton.type = "button"
      submitButton.value = "Geocode"
      submitButton.classList.add("button", "button-primary")

      const clearButton = document.getElementById("clearButton")

      clearButton.type = "button"
      clearButton.value = "Clear"
      clearButton.classList.add("button", "button-secondary")
      response = document.createElement("pre")
      response.id = "response"
      response.innerText = ""
      responseDiv = document.createElement("div")
      responseDiv.id = "response-container"
      responseDiv.appendChild(response)

      const instructionsElement = document.createElement("p")

      instructionsElement.id = "instructions"
      instructionsElement.innerHTML = "<strong>Instructions</strong>: Enter an address in the textbox to geocode or click on the map to reverse geocode."

      marker = new google.maps.Marker({
        map,
      });

      map.addListener("click", (e) => {
        geocode({ location: e.latLng });
        });
        submitButton.addEventListener("click", () =>
          geocode({ address: inputText.value }),
        );
        clearButton.addEventListener("click", () => {
          clear();
      });

      clear();
    }

    function clear() {
      marker.setMap(null);
      responseDiv.style.display = "none";
    }

    function geocode(request) {
      clear();
      geocoder.geocode(request)
        .then((result) => {
          const { results } = result;

          map.setCenter(results[0].geometry.location);
          marker.setPosition(results[0].geometry.location);
          marker.setMap(map);
          responseDiv.style.display = "block";
          response.innerText = JSON.stringify(result, null, 2);
          return results;
        })
        .catch((e) => {
          alert("Geocode was not successful for the following reason: " + e);
        });
    }


    window.initMap = initMap;

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-DvfRA9eInzf9OGuMV0PaumYHGeBrW-g&callback=initMap" 
    async defer></script>


    <div id="controls-container">
      <input id="inputText" type="text" placeholder="Enter a location">
      <input id="submitButton" type="button" value="Geocode" class="button button-primary">
      <input id="clearButton" type="button" value="Clear" class="button button-secondary">
    </div>
    
    <div id="map"></div>




{% endblock %}