{% extends 'base.html' %}
{% block content %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-DvfRA9eInzf9OGuMV0PaumYHGeBrW-g&libraries=places"></script>

    <style>
        #map {
            height: 400px;
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 2rem;;
        }
        #place-form {
            margin-top: 3rem;
            text-align: center;
        }
        #place-input {
            margin-top: 1rem;
            margin-right: 10px;
        }
    </style>


    <form id="place-form">
        <label for="place-input"><h2>Where do you need to find a dog park?:</h2></label><br>
        <input type="text" id="place-input" placeholder="City Name" required style="width: 300px; height: 50px;">
        <button type="submit" class="btn btn-dark btn-lg btn-block">🐶 Fetch! 🦴</button>
    </form>

    
    <div id="map"></div>
    <div id="result"></div>
    
    <script>
        document.getElementById('place-form').addEventListener('submit', function (event) {
            event.preventDefault();
    
            // Get the user input (city)
            var cityInput = document.getElementById('place-input').value;
    
            // Preset query to 'dog park'
            var query = 'dog park in ' + cityInput;
    
            // Create a PlacesService object
            var placesService = new google.maps.places.PlacesService(document.createElement('div'));
    
            // Define the request object
            var request = {
                query: query,
                fields: ['name', 'formatted_address', 'place_id']
            };
    
            // Perform the Places API Text Search request
            placesService.textSearch(request, function (results, status) {
                if (status === google.maps.places.PlacesServiceStatus.OK) {
                    // Display each result
                    var resultDiv = document.getElementById('result');
                    resultDiv.innerHTML = ''; // Clear previous results
    
                    for (var i = 0; i < results.length; i++) {
                        resultDiv.innerHTML += '<p><strong>Name:</strong> ' + results[i].name + '</p>';
                        resultDiv.innerHTML += '<p><strong>Address:</strong> ' + results[i].formatted_address + '</p>';
                        resultDiv.innerHTML += '<hr>';
                    }
    
                    // Display the results on the map
                    displayResultsOnMap(results);
                } else {
                    // Handle error
                    console.error('Error in Places API request:', status);
                }
            });
        });
    
        function displayResultsOnMap(places) {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: places[0].geometry.location.lat(), lng: places[0].geometry.location.lng() },
                zoom: 12
            });
    
            for (var i = 0; i < places.length; i++) {
                var marker = new google.maps.Marker({
                    position: places[i].geometry.location,
                    map: map,
                    label: "🐶",
                    title: places[i].name
                });
    
                // Add click event listener to the marker
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                    return function () {
                        // Create an info window with place information
                        var infowindow = new google.maps.InfoWindow({
                            content: '<p><strong>Name:</strong> ' + places[i].name + '</p>' +
                                '<p><strong>Address:</strong> ' + places[i].formatted_address + '</p>'
                        });
    
                        // Open the info window when the marker is clicked
                        infowindow.open(map, marker);
                    }
                })(marker, i));
            }
        }
    </script>
    

{% endblock %}
